@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700);

* {
    box-sizing: border-box;
}

body {
    background: #eee;
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin: 1em 0;
}

h2{
    font-size: 20px;
    font-weight: 700;
}

h3{
    font-size: 20px;
    font-weight: 100;
}

a {
    color: #222;
    transition: all 0.5s;
}

a:hover {
    opacity: 0.8;
}

img{
    vertical-align: middle;
}

input, textarea{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0.5em;
    font: inherit;
    width: 47.5%;
}

textarea{
    resize: none;
}

input[type="submit"] {
    display: none;
}

.link {
    display: flex;
    padding: 7px;
}

.full, .short {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.full {
    width: 60%;
}

.short {
    width: 30%;
}

.clicks {
    width: 5%;
}

.edit-button {
    width: 5%;
}

.hidden {
    display: none;
}

.edit-box{
    background: #222;
    color: #eee;
    box-shadow: 0 0 30px black;
    width: 100%;
    position: fixed;
    padding: 1em;

    z-index: 2;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.edit-box input, .edit-box textarea{
    width: 100%;
    margin-bottom: 1em;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons button {
    border: 1px solid white;
    transition: all 0.5s;
}

.buttons button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.link:hover + .card {
    display: block;
}

.card {
    display: none;
    background: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    position: fixed;
    left: 50vw;
    width: 400px;
}

.card img {
    width: 100%;
    padding: 0;
}

.card-text {
    width: 100%;
}

.card h1, .card p {
    overflow: hidden;
    text-overflow: ellipsis;;
}