{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-10 w-4/5">
    <div class="flex">
        <h1 class="flex-auto pb-6 w-auto">Shortened Links</h1>
        <form  method="POST" class="flex-none pl-3">
            <input type="hidden" name="method" value="logout">
            <button class="w-auto bg-grey-dark hover:bg-grey-darker text-grey-lightest font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Logout
            </button>
        </form>
        
    </div>
    
    <form class="bg-white shadow-lg rounded p-4 mb-6" method="POST" action="redirect.php">
        <input type="hidden" name="method" value="addLink">
        <div class="flex flex-wrap">
            <div class="w-1/2 md:w-2/5 px-1 mb-6 md:mb-0">
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" type="text" name="link" placeholder="Full link">
            </div>
            <div class="w-1/2 md:w-2/5 px-1">
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" type="text"  name="short" placeholder="Short alias">
            </div>
            <div class="w-full md:w-1/5 pl-3 pr-1">
                <button class="w-full bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Add
                </button>
            </div>
            
        </div>
    </form>

    <div class="links">
        {% for link in links %}
        <div class="link flex py-2 group relative">
            <div class="full truncate"><a href="{{ link.link }}" target="_blank">{{ link.link }}</a></div>
            <div class="short truncate"><a href="{{ baseUrl }}/{{ link.short }}" target="_blank">{{ baseUrl }}/{{ link.short }}</a></div>
            <div class="clicks">{{ link.clicks }}</div>
            <div class="button first"><img class="max-w-full max-h-20px cursor-pointer" src="/img/edit.svg" onclick="edit('{{ link.short }}', '{{ link.link }}', '{{ link.title }}', '{{ link.description }}', '{{ link.image }}')"></div>
            <div class="button">
                <img class="max-w-full max-h-20px cursor-pointer" src="/img/trash.svg" onclick="deleteLink('{{ link.short }}')">
            </div>
            <div class="card bg-white sm:w-4/5 md:w-2/5 rounded overflow-hidden shadow-lg group-hover:block hidden absolute pin-r z-10">
                <img class="w-full" src=" {{ link.image }}">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{{ link.title}}</div>
                    <p class="text-grey-darker text-base">{{ link.description }}</p>
                </div>
            </div>
        </div>
        
        {% endfor %}
    </div>
    {{ include('pagination.html.twig', { 
        currentPage: currentPage,
        lastPage: pageCount,
        paginationPath: pagePath
    }) }}

    <div class="modal fixed pin w-screen h-screen hidden" id="editModal">
        <div class="modal-card bg-white shadow-lg rounded p-6 mb-6 w-4/5 overflow-auto absolute">
            <form class="w-full" method="POST"  action="redirect.php">
                <div class="flex flex-wrap -mx-3 mb-8">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="title">
                        Title
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Example Title" name="title" id="title">
                    </div>
                    <div class="w-full md:w-1/2 px-3">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="image">
                        Thumbnail
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="https://example.com/thumb.png" name="image" id="image">
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full px-3">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="desc">
                        Description
                        </label>
                        <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" name="desc" id="desc"></textarea>
                    </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="newLink">
                        Full link
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="https://example.com" name="newLink" id="newLink">
                    </div>
                    <div class="w-full md:w-1/2 px-3">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" for="newShort">
                        Short alias
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="my-example" name="newShort" id="newShort">
                    </div>
                </div>
                <input type="hidden" name="method" value="editLink">

                <input type="hidden" name="oldShort" id="oldShort">

                <div class="flex items-center justify-between">
                    <button class="w-auto bg-grey-dark hover:bg-grey-darker text-grey-lightest font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"  onclick="cancelEdit()" type="button">
                        Cancel
                    </button>
                    <button class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fixed pin w-screen h-screen hidden" id="deleteModal">
        <div class="modal-card bg-white shadow-lg rounded p-6 mb-6 w-4/5 overflow-auto absolute">
            <form class="w-full" method="POST" action="redirect.php">
                <input type="hidden" name="method" value="deleteLink">
                <div class="font-bold text-xl mb-8">Are you sure you want to delete the link?</div>
                <div class="md:flex md:items-center mb-6">
                    <div class="w-auto">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold md:text-right mb-1 md:mb-0 pr-4" for="deleteModalShort">
                        Short alias
                        </label>
                    </div>
                    <div class="w-full">
                        <input class="bg-grey-lighter shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none" type="text"  name="short" value="" id="deleteModalShort" readonly>
                    </div>
                </div>
                <div class="flex items-center justify-between">
                    <button class="w-auto bg-grey-dark hover:bg-grey-darker text-grey-lightest font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"  onclick="cancelDelete()" type="button">
                        Cancel
                    </button>
                    <button class="bg-red-dark hover:bg-red text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        Delete
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Edit Request Form
        This is submitted by Javascript with edit(short) is called -->
    <form method="post" id="editForm" class="hidden">
        <input type="hidden" name="method" value="showEdit">
        <input type="hidden" name="short" id="editField">
    </form>

</div>
{% if flash %}
<script>alert("{{ flash }}")</script>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="/scripts/shortpanel.js"></script>
{%endblock%}