@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700);
* {
    box-sizing: border-box;
}

.body {
    background: #eee;
    color: #222;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

div {
    font-size: 20px;
}

.links div {
    float: left;
    margin-top: 1em;
}

h1 {
    text-align: center;
}

a {
    color: #222;
    transition: all 0.5s;
}

a:hover {
    opacity: 0.8;
}


/*Full link*/

.links div:nth-child(odd) {
    width: 70%;
}


/*Short link*/

.links div:nth-child(even) {
    width: 30%;
    text-align: right;
    text-decoration: underline;
    transition: all 0.5s;
}

.links div:nth-child(even):hover {
    opacity: 0.8;
    cursor: pointer;
}

input {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 0.5em;
    font: inherit;
    width: 47.5%;
}

.right {
    float: right;
}

.delete {
    margin-top: 1em;
    width: 100%;
}

input[type="submit"] {
    display: none;
}

input[type="submit"]:hover {
    background-color: #333;
}