 @tailwind preflight;
 @tailwind components;
 @tailwind utilities;

.full {
    width: 55%;
}

.short {
    width: 30%;
}

.clicks {
    width: 5%;
}

.button {
    width: 5%;
}

.modal {
    background-color: #dae1e794;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.modal-card {
    top: 10%;
    left: 10%;
    right: 10%;
    max-height: calc(100vh - 20%);
}

.link .card {
    top: 24px;
}